@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-Regular.ttf);
}

html {
  font-family: 'Open Sans';
  font-size: 13px;

}
.row {
  display: flex;
}

.col-fw{
  width:1400px;
  margin: 0 auto;
}

.bgc-1 {
  background-color: #FAFAFA;
}

.faq__question {
  height: 32px;
  width: fit-content;
}

.faq__icon-plus {
  background-image: url(../img/plus.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  transform: rotate(0deg); 
  transition: transform .3s ease;
}

.rotate45deg--in {
  transform: rotate(45deg);
  /* transition: transform .3s ease; */
}

.faq__anchor {
  display:flex;
  align-items: center;
  color: #000000;
  text-decoration: none;

}
.faq__anchor:visited {
  color:black;
}
.faq__answer__text {
  padding-left: 6px;
}


.hide {
  display:none;
}